<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.mall.seckill.mapper.SeckillSpuMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.tedu.mall.pojo.seckill.model.SeckillSpu">
        <id column="id" property="id" />
        <result column="spu_id" property="spuId" />
        <result column="list_price" property="listPrice" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>
    <!--  查询秒杀spu的sql片段  -->
    <sql id="SimpleFields">
        <if test="true">
            id,
            spu_id,
            list_price,
            start_time,
            end_time,
            gmt_create,
            gmt_modified
        </if>
    </sql>
    <!--List<SeckillSpu> findSeckillSpus();-->
    <select id="findSeckillSpus" resultMap="BaseResultMap">
        select <include refid="SimpleFields"/>
        from mall_seckill.seckill_spu
    </select>
    <!--List< SeckillSpu> findSeckillSpuByTime(LocalDateTime time);-->
    <select id="findSeckillSpuByTime" resultMap="BaseResultMap">
        SELECT <include refid="SimpleFields"/>
            FROM mall_seckill.seckill_spu
        WHERE start_time &lt; #{time}
        AND end_time &gt; #{time}
    </select>
    <!--SeckillSpu findSeckillSpuById(Long spuId); -->
    <select id="findSeckillSpuById" resultMap="BaseResultMap">
        SELECT <include refid="SimpleFields"/>
        FROM mall_seckill.seckill_spu
        WHERE spu_id=#{spuId}
    </select>
    <!--Long[]  findAllSeckillSpuIds();-->
    <select id="findAllSeckillSpuIds" resultType="Long">
        SELECT spu_id
        FROM mall_seckill.seckill_spu
    </select>


</mapper>